@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@utility example {
    @apply bg-red-500;
}

@utility input-control-v1 {
    @apply bg-gray-200 border text-background border-gray-300 rounded-md p-2 w-fit;
}

@utility new-facade-card {
    @apply flex flex-col text-white font-semibold font-sans;
}

@theme {
    --color-background: #242424;
    --font-nunito: "Nunito Sans", sans-serif;
    --font-rubik: "Rubik", sans-serif;
}